{% extends 'base.html.twig' %}

{% block title %}ReclamationGuide{% endblock %}

{% block body %}
    <h1>Reclamation Guide</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reclamation_guide.id }}</td>
            </tr>
            <tr>
                <th>Id_client</th>
                <td>{{ reclamation_guide.idClient }}</td>
            </tr>
            <tr>
                <th>Id_admin</th>
                <td>{{ reclamation_guide.idAdmin }}</td>
            </tr>
            <tr>
                <th>Id_guide</th>
                <td>{{ reclamation_guide.idGuide }}</td>
            </tr>
            <tr>
                <th>Nom_guide</th>
                <td>{{ reclamation_guide.nomGuide }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ reclamation_guide.description }}</td>
            </tr>
            <tr>
                <th>Respond</th>
                <td>{{ reclamation_guide.respond }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ reclamation_guide.status ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Reclamationdate</th>
                <td>{{ reclamation_guide.reclamationdate ? reclamation_guide.reclamationdate|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_reclamation_guide_index') }}">back to list</a>

    <a href="{{ path('app_reclamation_guide_edit', {'id': reclamation_guide.id}) }}">edit</a>

    {{ include('reclamation_guide/_delete_form.html.twig') }}
{% endblock %}
