{% extends 'base.html.twig' %}


{% block body %}
    <h1>Upcomingevents index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Event_number</th>
                <th>Event_name</th>
                <th>Location</th>
                <th>Date_camping</th>
                <th>Guide</th>
                <th>Id_guide</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for upcomingevent in upcomingevents %}
            <tr>
                <td>{{ upcomingevent.id }}</td>
                <td>{{ upcomingevent.eventNumber }}</td>
                <td>{{ upcomingevent.eventName }}</td>
                <td>{{ upcomingevent.location }}</td>
                <td>{{ upcomingevent.dateCamping ? upcomingevent.dateCamping|date('Y-m-d') : '' }}</td>
                <td>{{ upcomingevent.guide }}</td>
                <td>{{ upcomingevent.idGuide }}</td>
                <td>
                    <a href="{{ path('app_upcomingevents_show', {'id': upcomingevent.id}) }}">show</a>
                    <a href="{{ path('app_upcomingevents_edit', {'id': upcomingevent.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_upcomingevents_new') }}">Create new</a>
{% endblock %}
