{% extends 'behijab.html.twig' %}

{% block title %}Louer index{% endblock %}

{% block body %}
    <h1>Louer index</h1>
    <a href="{{ path('affichelouer') }}">Date Fin </a>
    <table class="table">
        <thead>
            <tr>
                <th>Idlouer</th>
                <th>Date emprunt</th>
                <th>Date remise</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for louer in louers %}
            <tr>
                <td>{{ louer.idlouer }}</td>
                <td>{{ louer.dateemprunt ? louer.dateemprunt|date('Y-m-d') : '' }}</td>
                <td>{{ louer.dateremise ? louer.dateremise|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_louer_show', {'idlouer': louer.idlouer}) }}">show</a>
                    <a href="{{ path('app_louer_edit', {'idlouer': louer.idlouer}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_louer_new') }}">Create new</a>
{% endblock %}
