{% extends 'base.html.twig' %}

{% block title %}ResCabine{% endblock %}

{% block body %}
    <h1>ResCabine</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ res_cabine.id }}</td>
            </tr>
            <tr>
                <th>Num</th>
                <td>{{ res_cabine.num }}</td>
            </tr>
            <tr>
                <th>NbPersonnes</th>
                <td>{{ res_cabine.nbPersonnes }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ res_cabine.type }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ res_cabine.prix }}</td>
            </tr>
            <tr>
                <th>Dispo</th>
                <td>{{ res_cabine.dispo }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_res_cabine_index') }}">back to list</a>

    <a href="{{ path('app_res_cabine_edit', {'id': res_cabine.id}) }}">edit</a>

    {{ include('res_cabine/_delete_form.html.twig') }}
{% endblock %}
