{% extends 'base.html.twig' %}

{% block title %}ReclamationLocalisation{% endblock %}

{% block body %}
    <h1>Reclamation Localisation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reclamation_localisation.id }}</td>
            </tr>
            <tr>
                <th>Id_client</th>
                <td>{{ reclamation_localisation.idClient }}</td>
            </tr>
            <tr>
                <th>Id_admin</th>
                <td>{{ reclamation_localisation.idAdmin }}</td>
            </tr>
            <tr>
                <th>Id_localisation</th>
                <td>{{ reclamation_localisation.idLocalisation }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ reclamation_localisation.description }}</td>
            </tr>
            <tr>
                <th>Respond</th>
                <td>{{ reclamation_localisation.respond }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ reclamation_localisation.status ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Reclamationdate</th>
                <td>{{ reclamation_localisation.reclamationdate ? reclamation_localisation.reclamationdate|date('Y-m-d') : '' }}</td>
            </tr>
             <tr>
                <th>Location</th>
                <td>{{ reclamation_localisation.location }}</td>
            </tr>
             <tr>
                <th>Full_name</th>
                <td>{{ reclamation_localisation.fullname }}</td>
            </tr>
             <tr>
                <th>Email</th>
                <td>{{ reclamation_localisation.email }}</td>
            </tr>
        </tbody>
    </table>
<div class="grid">
    <a class="btn btn-primary btn-xl " href="{{ path('app_reclamation_localisation_index') }}">Back to list</a>
    </div>
    <div class="grid">
    <a class="btn btn-primary btn-xl " href="{{ path('app_reclamation_localisation_edit', {'id': reclamation_localisation.id}) }}">Edit</a>
    </div>
    

    {{ include('reclamation_localisation/_delete_form.html.twig') }}
{% endblock %}
