{% extends 'base.html.twig' %}
{% block title %}Sign in{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/login-form.css') }}">
{% endblock %}
{% block body %}
    {% include '_flash-messages.html.twig' %}
    {{ form_start(form, {'attr': {'class': 'form-signin'}}) }}
    <img class="mb-4 my-4" src="{{ asset('images/square-logo-72.png') }}" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">{{ 'header.login'|trans }}</h1>
    {{ form_label(form.email, 'Your email', {'label_attr': {'class': 'sr-only'}}) }}
    {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'title.email'}}) }}
    {{ form_label(form.password, 'title.password', {'label_attr': {'class': 'sr-only'}}) }}
    {{ form_widget(form.password, {'attr': {'class': 'form-control', 'placeholder': 'title.password'}}) }}
    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" id="remember_me" name="_remember_me" checked /> {{ 'checkbox.remember_me'|trans }}
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">{{ 'button.login'|trans }}</button>
    <div class="small mt-2">
        <a href="{{ path('menu') }}">{{ 'title.new_registration'|trans }}</a>
      
    </div>
    {{ form_end(form) }}
{% endblock %}