{% extends 'base.html.twig' %}

{% block title %}{{ users.name }}{% endblock %}

{% block body %}
 <h1>{{ users.name }}</h1>
 <p>{{ users.lastname }}</p>
 <p>{{ users.email }}</p>
 <p>{{ users.password }}</p>
 <p>{{ users.role }}</p>
 <p>{{ users.profilepicture }}</p>
 <hr>
 <a href="/FrontView/menu">Retour</a>
 <a href="/FrontView/edit">modifier</a>

{% endblock %}