{% extends 'behijab.html.twig' %}

{% block title %}Localisation index{% endblock %}

{% block body %}
    <h1>Localisation index</h1>
  <li class="nav-item"><a class="nav-link" href="http://127.0.0.1:8000/act/">Nos activités</a></li>
    <table class="table">
        <thead>
            <tr>
                <th>IdEmplacement</th>
                <th>NomEmplacement</th>
                <th>DEmplacement</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for localisation in localisations %}
            <tr>
                <td>{{ localisation.idEmplacement }}</td>
                <td>{{ localisation.nomEmplacement }}</td>
                <td>{{ localisation.dEmplacement }}</td>
                <td>
                    <a href="{{ path('localisation_show', {'idEmplacement': localisation.idEmplacement}) }}">show</a>
                    <a href="{{ path('localisation_edit', {'idEmplacement': localisation.idEmplacement}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('localisation_new') }}">Create new</a>
{% endblock %}
