{% extends 'base.html.twig' %}

{% block title %}Equipement louer index{% endblock %}
{% block body %}
    <div class="container aos-init aos-animate" data-aos="fade-up">

        <div class="section-title">
            <h2>Equipements</h2>
            <h1>Equipements à Louer</h1>
        </div>
        <div class="menu-content">
            <a href="{{ path('trinom2') }}">Trier par Nom </a>
            <section></section>
            <a href="{{ path('triprix2') }}">Trier par Prix </a>
            <section></section>


        </div>

        <div class="row menu-container aos-init aos-animate" data-aos="fade-up" data-aos-delay="200" style="position: relative; height: 600px;">
            {% for equipementlouer in equipementlouers %}
                <div class="col-lg-6 menu-item filter-starters" style="position: absolute; left: 0px; top: 0px;">
                    <a href="{{ path('app_equipementlouer_show', {'idequipement': equipementlouer.idequipement}) }}"><img src="{{ asset('/assets/img/menu/lobster-bisque.jpg') }}" class="menu-img" alt=""></a>
                    <div class="menu-content">
                        <a href="{{ path('app_equipementlouer_show', {'idequipement': equipementlouer.idequipement}) }}">{{ equipementlouer.nomequipement }}</a>
                    </div>
                    <div class="menu-ingredients">
                        Prix Equipement:
                        {{ equipementlouer.prixequipement }}
                    </div>
                    <div class="menu-ingredients">
                        Description Equipement:
                        {{ equipementlouer.descriptionequipement }}
                    </div>

                    <div class="menu-ingredients">
                        Rating:
                        {{ equipementlouer.rating }}
                    </div>

                </div>
            {% else %}
                <tr>
                    <td colspan="9">no records found</td>
                </tr>
            {% endfor %}

        </div>

    </div>

{% endblock %}



