{% extends 'chiheb.html.twig' %}


{% block body %}

    <h1>Calendrier</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ calendar.idAct }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ calendar.nomAct }}</td>
            </tr>
            <tr>
                <th>Date Début</th>
                <td>{{ calendar.dDebut ? calendar.dDebut|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date Fin</th>
                <td>{{ calendar.dFin ? calendar.dFin|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ calendar.description }}</td>
            </tr>
        </tbody>
    </table>


{% endblock %}
