{% extends 'chiheb.html.twig' %}

{% block title %}Act{% endblock %}

{% block body %}
    <h1>Act</h1>
    <table class="table">
        <tbody>
            <tr>
                <th>IdAct</th>
                <td>{{ act.idAct }}</td>
            </tr>
            <tr>
                <th>NomAct</th>
                <td>{{ act.nomAct }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ act.description }}</td>
            </tr>
            <tr>
                <th>DDebut</th>
                <td>{{ act.dDebut ? act.dDebut|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>DFin</th>
                <td>{{ act.dFin ? act.dFin|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Emplacement</th>
                <td>{{ act.emplacement }}</td>
            </tr>
            <tr>
                <th>Idemplacement</th>
                <td>{{ act.idemplacement }}</td>
            </tr>
            <tr>
                <th>NbPersonne</th>
                <td>{{ act.nbPersonne }}</td>
            </tr>
            <tr>
                <th>IdUser</th>
                <td>{{ act.idUser }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('act_index') }}">back to list</a>

    <a href="{{ path('act_edit', {'idAct': act.idAct}) }}">edit</a>

    {{ include('act/_delete_form.html.twig') }}
{% endblock %}
