{% extends 'chiheb.html.twig' %}

{% block title %}Edit Guide{% endblock %}

{% block body %}
<h1>Guide index</h1>

<table class="table">
 <thead>
 <tr>
  <th>Id</th>
  <th>Nom</th>
  <th>Prenom</th>
  <th>Disponoibilte</th>
  <th>Lieux</th>
  <th>actions</th>
 </tr>
 </thead>
 <tbody>
 {% for guide in guides %}
  <tr>
   <td>{{ guide.id }}</td>
   <td>{{ guide.nom }}</td>
   <td>{{ guide.prenom }}</td>
   <td>{{ guide.disponoibilte ? guide.disponoibilte|date('Y-m-d') : '' }}</td>
   <td>{{ guide.lieux }}</td>
   <td>
    <a href="{{ path('app_guide_show', {'id': guide.id}) }}">show</a>
    <a href="{{ path('app_guide_edit', {'id': guide.id}) }}">edit</a>
    <a href="{{ path('app_guide_new') }}">Add</a>
   </td>
  </tr>
 {% else %}
  <tr>
   <td colspan="6">no records found</td>
  </tr>
 {% endfor %}
 </tbody>
</table>

<a href="{{ path('app_guide_new') }}">Create new</a>

<div class="row">
 {{ form_start(form) }}
 {{form_row(form)}}

 <button type="submit" class="btn btn-success btn-block">QRCode</button>
 {{ form_end(form) }}
 <div class="col-md-6">
  {% if qrCode %}
   <img src="{{ qrCode }}" alt="qr-code">
  {% endif %}
 </div>
</div>
{% endblock %}