{% extends 'behija.html.twig' %}

{% block title %}Equipementvendre index{% endblock %}
{% block body %}

    <div class="container aos-init aos-animate" data-aos="fade-up">


    <div class="section-title">
        <h2>Equipements</h2>
        <h1>Equipements à Vendre</h1>
    </div>
        <form method="post">

            <input type="text" name="nom">
            <input type="submit" value="recherche">
        </form>
        <div class="menu-content">
            <a href="{{ path('trinom') }}">Trier par Nom </a>
            <section></section>
            <a href="{{ path('triprix') }}">Trier par Prix </a>
            <section></section>
            <a href="{{ path('triquantite') }}">Trier par Quantité </a>
            <section></section>

        </div>

    <div class="row menu-container aos-init aos-animate" data-aos="fade-up" data-aos-delay="200" style="position: relative; height: 600px;">
        {% for equipementvendre in equipementvendres %}
            <div class="col-lg-6 menu-item filter-starters" style="position: absolute; left: 0px; top: 0px;">
                <a href="{{ path('app_equipementvendre_show', {'idequipement': equipementvendre.idequipement}) }}"><img src="{{ asset('/assets/img/menu/lobster-bisque.jpg') }}" class="menu-img" alt=""></a>
                <div class="menu-content">
                    <a href="{{ path('app_equipementvendre_show', {'idequipement': equipementvendre.idequipement}) }}">{{ equipementvendre.nomequipement }}</a>
                </div>
                <div class="menu-ingredients">
                    Prix Equipement:
                    {{ equipementvendre.prixequipement }}
                </div>
                <div class="menu-ingredients">
                    Description Equipement:
                    {{ equipementvendre.descriptionequipement }}
                </div>
                <div class="menu-ingredients">
                    Quantite Equipement:
                    {{ equipementvendre.quantiteequipement }}
                </div>


            </div>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}

    </div>

</div>

{% endblock %}



